/* div {
    border: solid;
} */
.search  {
    margin-right: 80px;
    margin-left: auto;
    width: 300px;
    height: 10px;
}
.search input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

.searchResult {
    width: 316px;
    position: fixed;
}

.searchresultbutton {
    position: relative;
    width: 100%;
}

.modulesContainer {
    width:100%;
    position: relative;
}

.module {
    position: absolute;
}

.timetable {
    padding-top:350px;
}

table{
    table-layout: fixed;
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

table#parameter {
    table-layout: fixed;
    width: 100%;
    margin: auto;
}

th {
    margin: auto;
    border: 1px solid black;
}

tr {
    width: 100%
}

td {
    border: 1px solid black;
}

#timetablelink, #impossible{
    width: 80%;
    margin:auto;
    text-align: center;
    font-size: 30;
}
/* .searchResult p {
    width: 310px;
    margin: 10px;
    font-size: 17px;
} */