/* div {
    border: solid;
} */

body {
    background-color: #2b303a;
    /* background-color: #ffcce6; */
    /* background-color: #ffffe6; */
    /* background-color: #996633; */
}

.searchresultbutton {
    position: relative;
    width: 100%;
}

.searchResult {
    width: 80%;
    margin: auto;
    max-height: 120px;
    overflow: auto;
    z-index: 1;
}



.timetable {
    /* padding-left: 90px; */
    padding-top:100px;
    overflow-x: auto;
    overflow-y: hidden;
}

table{
    table-layout: fixed;
    border-color: "red";
}

#timetablelink, #impossible{
    width: 80%;
    margin:auto;
    text-align: center;
    font-size: 30;
}

